footer {
  background: #B8EBCD;
  padding: 1.5rem 1rem 1rem 1rem;
  margin-top: 50px;
  text-align: left;
}

footer a {
    font-size: 1rem;
    font-weight: 700;
}

.adresse {
    text-align: end;
}

.test {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 20px;
}

.sbtb {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-icon {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.socials {
    display: flex;
    align-items: center;
    gap: 10px;
}

.copyright {
    text-align: center;
}