body {
	background-image: none;
	background-image: url();
	background-size: 100% 100%;
}

@media (min-width: 1024px) {
	body {
		background-image: none;
		background-image: url(../images/Lines\ -\ Desktop\ Inschrijving.svg);
		background-size: 130% 65%;
	}
}
