.bg-image svg {
	display: none;
}

main {
	height: 80vh;
}

.step {
	display: none;
}
.step.active {
	display: block;
}
.navigation {
	margin-top: 20px;
}
button {
	padding: 10px 15px;
	margin-right: 10px;
}

.check {
	display: flex;
	gap: 1rem;
}

input[type="checkbox"] {
	accent-color: white;
}

@media (min-width: 1024px) {
	body {
		background-image: none;
	}

	.bg-image svg {
		display: block;
	}

	@keyframes subtle-rotate {
		0% {
			transform: rotate(0deg);
		}
		50% {
			transform: rotate(1.5deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}

	footer {
		overflow: hidden;
	}

	.bg-image {
		position: relative;
		width: 100%;
		height: auto;
	}

	.bg-image svg {
		animation: subtle-rotate 5s ease-in-out infinite;
		transform-origin: center;
	}

	.blue-line {
		position: absolute;
		width: 75vw;
		top: -15rem;
		left: -65rem;
		height: auto;
		object-fit: cover;
		z-index: -5;
	}

	.red-line {
		position: absolute;
		width: 65vw;
		top: -2rem;
		left: 25rem;
		height: auto;
		object-fit: cover;
		z-index: -2;
	}

	.yellow-line {
		position: absolute;
		width: 105vw;
		left: -3rem;
		height: auto;
		object-fit: cover;
		z-index: -3;
	}

	.green-line {
		position: absolute;
		width: 150rem;
		top: 0;
		left: -20rem;
		height: auto;
		object-fit: cover;
		z-index: -4;
	}

	.off-screen-menu ul li {
		margin-top: -1.6rem;
	}
}
