.card-img.les1 {
    background-image: url(../les/les1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img.les2 {
    background-image: url(../les/les2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.card-img.les3 {
    background-image: url(../les/les3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img.les4 {
    background-image: url(../les/les4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img.les5 {
    background-image: url(../les/les5.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img.les6 {
    background-image: url(../les/les6.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img.les7 {
    background-image: url(../les/les7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img.les8 {
    background-image: url(../les/les8.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img.les9 {
    background-image: url(../les/les9.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img.les10 {
    background-image: url(../les/les10.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img.les11 {
    background-image: url(../les/les11.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img.les12 {
    background-image: url(../les/les12.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img.les13 {
    background-image: url(../les/les13.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img.les14 {
    background-image: url(../les/les14.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img.les15 {
    background-image: url(../les/les15.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img.les16 {
    background-image: url(../les/les16.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img.les17 {
    background-image: url(../les/les17.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img.les18 {
    background-image: url(../les/les18.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img.les19 {
    background-image: url(../les/les19.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img.les20 {
    background-image: url(../les/les20.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img.les21 {
    background-image: url(../les/les21.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img.les22 {
    background-image: url(../les/les22.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img.les23 {
    background-image: url(../les/les23.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img.les24 {
    background-image: url(../les/les24.png);
    background-repeat: no-repeat;
    background-size: cover;
}
