@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ----- BASE RESET ----- */
body {
	font-family: "Poppins", sans-serif;
	background-color: #fffdf8;
	color: #333;
	line-height: 1.6;
	padding: 20px;
	margin: 3rem;
}

/* ----- TYPOGRAPHY ----- */
h1,
h2,
h3 {
	color: #333;
	margin-bottom: 1rem;
}

h1 {
	font-size: 60pt;
	font-weight: 800;
}

h2 {
	font-size: 40pt;
	font-weight: 800;
}

h3 {
	font-size: 20pt;
	font-weight: 600;
}

h4 {
	font-size: 16pt;
	font-weight: 600;
}

h5 {
	font-size: 20pt;
	font-weight: 600;
}

h6 {
	font-size: 20pt;
	font-weight: 600;
}

p {
	margin-bottom: 14pt;
}

a {
	color: #ffa63d;
	font-size: 20px;
	transition: color 0.3s;
}

a:hover,
.btn:hover {
	background-color: white;
	color: #ffa63d;
}

.btn:hover .icon {
	content: url("/images/search-hover.svg");
}

/* ----- BUTTONS ----- */
.button,
.btn {
	font-size: 12pt;
	color: white;
	transition: all 0.3s ease;
	background-color: #ffa63d;
	border-radius: 12px;
	padding: 1rem 5rem;
	font-weight: bold;
	position: relative;
	text-decoration: none;
	border: 2px solid;
}

.button:active {
	transform: translateY(4px);
	top: 4px;
}

/* ----- FORMS ----- */
input,
select,
textarea {
	width: 88%;
	padding: 1rem;
	margin-bottom: 3rem;
	text-align: center;
	border: 3px solid #fea033;
	background-color: white;
	font-size: 26pt;
}

#map {
	width: 53.1rem;
	height: 50rem;
	border-radius: 12px;
}

.search-bar {
	border-radius: 12px 0 0 12px;
}

.btn {
	border-radius: 0px 12px 12px 0px;
	padding: 0.95rem 1rem;
	position: absolute;
	border-color: #ffa63d;
}
